.root {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.image {
  --size: 110px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: var(--size) var(--size);
  height: var(--size);
  margin-bottom: 10px;
  width: var(--size);
}

.title {
  color: white;
  font-size: 18px;
}

/* colors  */
.aqua {
  background-color: #1E4855;
}

.purpleDark {
  background-color: #15132C
}

.purpleLight {
  background-color: #42318C;
}
